<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900253734343-qgum92h0o203dk5uc43ha60l8li60r7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900253734343-qgum92h0o203dk5uc43ha60l8li60r7a</string>
	<key>API_KEY</key>
	<string>AIzaSyB_uxkPgtOXX1QJtwDMoAbpsDsHkaGMclM</string>
	<key>GCM_SENDER_ID</key>
	<string>900253734343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Arash-App.Hey-Guys</string>
	<key>PROJECT_ID</key>
	<string>hey-guys-ca1c3</string>
	<key>STORAGE_BUCKET</key>
	<string>hey-guys-ca1c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900253734343:ios:901bf40dc0517701d1b5e2</string>
	<key>DATABASE_URL</key>
	<string>https://hey-guys-ca1c3.firebaseio.com</string>
</dict>
</plist>